.BulletList li {
  display: flex;
  padding: 20px 0px;
  font-size: 13px;
}

.BulletList li:not(:first-child) {
  border-top: 1px solid #F5F5F5;
}

.BulletList li span:first-child {
  display: flex;
  width: 28%;
  font-weight: bold;
}

.BulletList li span:last-child:first-letter {
  text-transform: uppercase;
}

.BulletList i {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #A9AEB1;
}

.BulletList .bad {
  color: red;
}

.BulletList i.bad {
  background-color: red;
}

.BulletList .good {
  color: green;
}

.BulletList i.good {
  background-color: green;
}